In [1]:
#Task 2 : Calculate Summary Statistics
#Calculate summary statistics(mean, median, mode, standard deviation) for a dataset
#By YUVASHREE S

In [2]:
#Implementing the Dependencies

In [3]:
import pandas as pd
import numpy as np

In [4]:
#Data Reading

In [5]:
gender_data = pd.read_csv("gender_submission.csv")
print(gender_data)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [6]:
#Using the describe() to find the statistics(mean, median, mode, standard deviation)

In [7]:
#Calculating the statistics (mean, median, mode, standard deviation)
gender_data.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [8]:
gender_data.median()

PassengerId    1100.5
Survived          0.0
dtype: float64

In [9]:
gender_data.mode()

     PassengerId  Survived
0            892       0.0
1            893       NaN
2            894       NaN
3            895       NaN
4            896       NaN
..           ...       ...
413         1305       NaN
414         1306       NaN
415         1307       NaN
416         1308       NaN
417         1309       NaN

[418 rows x 2 columns]